body {
	overflow: hidden;
	background-color: black;
	font-family: sans-serif;
}

#overlay {
	z-index: 9;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#canvas {
	z-index: 6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlayBlock {
	color: black;
	font-size: 9px;
	text-align: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
}
.overlayBlock:hover {
	background-color: rgba(0, 0, 255, 0.4) !important;
}

#footer {
	background-color: rgb(53, 53, 53);
	position: fixed;
	font-size: 20px;
	color: white;
	opacity: 0.45;
	display: flex;
	flex: wrap;
}

image {
	margin: 0px;
}

button {
	color: black !important;
}

table {
	text-align: center;
}
