body {
	overflow: hidden;
	background-color: black;
}

#overlay {
	z-index: 9;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
}
#game {
	z-index: 6;
	position: fixed;
}

.overlayBlock {
	opacity: 0.4;
	z-index: 10;
	background-color: blue;
}

#info {
	background-color: rgb(53, 53, 53);
	position: fixed;
	font-size: 20px;
	color: white;
	display: flex;
	flex: wrap;
}

image {
	margin: 0px;
}
