body {
	overflow: hidden;
	background-color: black;
	font-family: sans-serif;
}

#overlay {
	z-index: 9;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
}
#game {
	z-index: 6;
	position: fixed;
}

.overlayBlock {
	color: black;
	font-size: 10px;
	text-align: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
}
.overlayBlock:hover {
	opacity: 0.5 !important;
	background-color: blue !important;
}

#info {
	background-color: rgb(53, 53, 53);
	position: fixed;
	font-size: 20px;
	color: white;
	display: flex;
	flex: wrap;
}

image {
	margin: 0px;
}
